.chatbotdreams{
    padding: 10px;
    margin-bottom: 50px;
}

.container-chatbot{
    height: max-content;
}

.container-profil{
    display: flex;
}

.container-profil h2{
    font-size: 19px;
    margin-left: 10px;
}

.message-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    background-color: #f3f3f3;
    padding-top: 10px;
    border-top: 2px solid #8758FF;
}

.input-message{
    border: 0;
    border-bottom: 2px solid #000;
    font-size: 18px;
    width: 70%;
    margin-right: 12px;
    padding: 10px;
}

.message-btn{
    width: max-content;
    background-color: #31475E;
    border-radius: 50%;
    padding: 10px 10px 6px 10px;
}

.container-user{
    height: max-content;
    width: 100%;
}

.container-profil-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px 0 0;
}

.container-profil-user h2 {
    margin-right: 10px;   
    font-size: 19px; 
}

.message-user {
    background-color: #5CB9E5;
    padding: 10px;
    position: relative;
    width: 80%;
    border-radius: 0 10px 10px 10px;
    margin-top: 10px;
    margin-left: 0;
    /* Tambahkan transform untuk memutar elemen horizontal */
    transform: scaleX(-1);
}

.message-user::before {
    content: "";
    border-top: 18px solid transparent;
    border-left: 30px solid #5CB9E5;
    margin-left: -10px;
    z-index: -1;
    transform: scaleX(-1);
  }

.message-user p{
    margin: 0;
    margin-top: -24px;
    font-weight: 500;
    transform: scaleX(-1);
}

.box-message{
    background-color: #5CB9E5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
}

.box-message{
    color: #000;
    font-weight: 500;
}

.custom-link {
    text-decoration: none;
    color: black;
  }

.avatar{
    width: 15.5%;
    height: 15.5%;
    border-radius: 50%;
}