
.add-photo-icon{
    background-color: #5CB9E5;
    position: fixed; 
    border-radius: 100%;
    padding: 10px;
    top: 87%;
    left: 80%;
    background-position: center;
    width: fit-content;
    border: solid 1px white;
    box-shadow: 0px 0px 2px black;
    padding-top: 13px;
}

.add-photo-icon:hover{
    transform: rotate(180deg);
    transition: 1s;
}

.add-photo-icon img{
    width: 33px;
    height: 26px;
}